$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "../../bower_components/Bootflat/bootflat/scss/bootflat.scss";
@import "_variables";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  //padding-top: 20px;
  //padding-bottom: 20px;
}
.container {
    text-align: left;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  .logo {
    //text-transform: uppercase;
    font-weight: 300;
  }
}

.jumbotron {
  &.frontpage {
      padding:4em 0;

  }
  text-align: center;
}


/**
* App-started CSS
*/

.teams {
  text-align: left;
}

.all-members {
  text-align: left;
}
#add-form {
  margin:0 0 2em;
  input, .btn {
    border-radius: 0;
  }
}
.groups-wrap {
  .inner-wrap {
    padding:1em;
    margin-bottom: 1em;
    background:$light-gray;
  }
  .group-title {
    position: relative;
    margin-top:0;
    .btn {
      position: absolute;
      right:0;
    }
  }
}

.all-members {
  margin:2em 0;
  padding:0;
  list-style: none;
  li {
    padding-top:6px;
    padding-bottom:6px;
    .btn {
      margin-right:.5em;
    }
  }
}
.shuffled-teams {
  margin:2em 0;
  padding:0;
  list-style: none;
  li > div {
    margin:0 0 1em;
  }
}

/* Custom page footer */
.footer {
  background: none;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.appstart-wrap {
  margin:2em 0;
  text-align: center;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 630px;
  }
}
