<h1>{{ currentGroup.title }}</h1>
<div class="teams">
    <ul ng-repeat="member in currentGroup.members" class="all-members">
        <li>
            {{ member.name }}
            <span class="input-group-btn">
                <button class="btn btn-danger" ng-click="removeGroupMember($index)" aria-label="Remove">X</button>
            </span> 
        </li>
    </ul>
    <form ng-submit="addGroupMember(currentGroup)">
        <div class="form-group">
            <input type="text"
            class="form-control"
            placeholder="Name"
            ng-model="currentGroup.members.name"></input>
        </div>
        <button type="submit" class="btn btn-primary">Add member</button>
    </form>
    <form novalidate ng-submit="shuffleTeams(shuffleConfig)">
        <div class="form-group">
        <input type="text"            
            <input type="number"
            class="form-control"
            placeholder="3"
            ng-model="shuffleConfig.numberTeams">
        </div>
        <button type="submit" class="btn btn-success">Shuffle!</button>
    </form>
    <!-- <button type="button" class="btn btn-success" ng-click="shuffleTeams(currentGroup)">Shuffle!</button> -->
    <ul ng-repeat="team in shuffledTeams" class="all-members">
        <li>Team {{ $index + 1 }}</li>
        <ul ng-repeat="member in team">
            <li>{{ member.name }}</li>
        </ul>
    </ul>
</div>