<nav class="breadcrumbs" role="navigation">
    <a href="#/groups" class="back"><i class="glyphicon glyphicon-arrow-left"></i> Groups</a>
</nav>
<h1>{{ currentGroup.title }}</h1>
<div class="teams">
    <form ng-submit="addGroupMember(currentGroup)" id="add-form">
        <div class="input-group form-search">
            <input type="text" class="form-control search-query" placeholder="Name" ng-model="currentGroup.members.name">
            <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" data-type="last">Add member</button>
            </span>
        </div>
    </form>
    <ul class="all-members row">
        <li class="col-xs-6" ng-repeat="member in currentGroup.members">
            <button class="btn btn-danger btn-xs" ng-click="removeGroupMember($index)" aria-label="Remove">X</button>
            <span>{{ member.name }}</span>
        </li>
    </ul>
    <form novalidate ng-submit="shuffleTeams(shuffleConfig)">
        <div class="form-group">
            <label for="numberTeams">How many teams should we generate?</label>
            <input type="number"
            class="form-control"
            placeholder="3"
            name="numberTeams"
            id="numberTeams"
            ng-model="shuffleConfig.numberTeams">
        </div>
        <button type="submit" class="btn btn-success">Shuffle!</button>
    </form>
    <!-- <button type="button" class="btn btn-success" ng-click="shuffleTeams(currentGroup)">Shuffle!</button> -->
    <div class="shuffled-teams row">
        <div ng-repeat="team in shuffledTeams">
            <div class="col-xs-6">
                <div class="inner-wrap">
                    <h3>Team {{ $index + 1 }}</h3>
                    <ul>
                        <li ng-repeat="member in team">{{ member.name }}</li>
                    </ul>
                </div>
            </div>
            <div class="clearfix" ng-if="($index + 1) % 2 === 0 && $index > 0"></div>
        </div>
    </div>
</div>