<form ng-submit="addGroup()" id="add-form">
    <h2>Add Group</h2>   
    <div class="input-group form-search">
        <input type="text" class="form-control search-query" placeholder="Groupname" ng-model="title">
        <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" data-type="last">Add Group</button>
        </span>
    </div>
</form>
<div class="groups-wrap row">
    <div ng-repeat="group in groups">
        <div class="col-xs-6">
            <div class="inner-wrap">
                <h3 class="group-title">
                <button class="btn btn-xs btn-danger" ng-click="removeGroup($index)" aria-label="Remove">X</button>
                <a href="#/groups/{{$index}}">{{ group.title }}</a>
                </h3>
                <ul>
                    <li ng-repeat="member in group.members">
                        {{ member.name }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix" ng-if="$index % 1 === 0 && $index > 0"></div>
    </div>
</div>