<form ng-submit="addTeam()">
    <h3>Add Team</h3>
    <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Teamname"
        ng-model="title"></input>
    </div>
    <button type="submit" class="btn btn-primary">Add Team</button>
</form>
<div class="teams" ng-repeat="team in teams" ng-form="teamForm">
    <h3>{{ team.title }}</h3>
    <div ng-repeat="member in team.members">
        {{ member.name }}
    </div>
    <form ng-submit="addMember(team)">
        <div class="form-group">
            <input type="text"
            class="form-control"
            placeholder="Name"
            ng-model="team.members.new.name"></input>
        </div>
        <button type="submit" class="btn btn-primary">Add member</button>
    </form>
</div>